.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
 flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background-color: bisque;
}


.active{
  box-shadow: -11px -1px 37px 0px rgba(0,0,0,0.75) inset;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

